@font-face {
    font-family: "DigitalClock";
    src: url("DS-DIGI.TTF");
}
body, html{
    background-color: #c0c0c0;
    margin: 0;
    padding: 0;
}
p {
    font-family: DigitalClock, serif;
}
#whole {
    display: flex;
    justify-content: center;
    align-items: center;
}
#numpad {
    display: flex;
    flex-wrap: wrap-reverse;
    flex-direction: row;
    border: black solid;
    width: auto;
    background-color: #454837;
    padding-bottom: 13px;
}
#calculator{
    border-bottom: #808080 8px solid;
    border-right:  #808080 8px solid;
    border-left: white 8px solid;
    border-top: white 8px solid;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-basis: 465px;
}
#numpad > * {
    border-bottom: #808080 4px solid;
    border-right:  #808080 4px solid;
    border-left: white 4px solid;
    border-top: white 4px solid;
    flex: 0 0 100px;
    height: 100px;
    margin: 13px 0 0 13px;
    font-size: 20px;
}
#zero {
    flex: 0 0 213px;
}
#display{
    display: flex;
    align-items: center;
    width: 100%;
    align-self: stretch;
    background-color: #2c563b;
    padding-left: 5px;
}
#screen {
    width: 100%;
    flex: 0 1 70px;
    display: flex;
    /*padding: 10px;*/
    border-top: #808080 4px solid;
    border-left:  #808080 4px solid;
    border-right: white 4px solid;
    border-bottom: white 4px solid;
}
#display > p {
    font-size: xxx-large;
    margin: 0;
}